<!DOCTYPE html>
<html>
<head>
    <title>To-Do Form</title>
</head>
<body>
    <h2>To-Do Form</h2>
    
    <form method="POST" action="/submittodoitem">

        <input name="itemID" placeholder="Item ID"><br><br>

        <input name="itemUUID" placeholder="Item UUID"><br><br>

        <input name="itemHash" placeholder="Item Hash"><br><br>

        <input type="text" name="itemName" placeholder="Item Name"><br><br>

        <input type="text" name="itemDescription" placeholder="Item Description"><br><br>
        
        <button type="submit">Submit</button>

    </form>
</body>
</html>
